html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  min-width: 290px;
}

/* Navigation bar  */
#navbar {
  border: 1px solid #000;
  border-left: 2px bold #000;
  min-width: 280px;
}

#navbar header {
  margin: -1px;
}

#navbar header h1{
  margin: 0;
  padding: 20px;
  border: 1px solid #000;
  text-align: center;
}

#navbar ul {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar ul li {
  margin: -1px;
}

#navbar ul a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #000;
}

/* Navigation bar end  */